# TC1002S: HERRAMIENTAS COMPUTACIONALES

## Contenido

1. Variables aritméticas y operaciones
1. Condicionales
1. Arrays and Matrices
1. DataFrames

## 1. Variables aritméticas y operaciones

In [ ]:
# instrucción para imprimir mensajes
print("Hola, mi primer código")

Hola, mi primer código

In [ ]:
# definición de variables y operaciones aritméticas
a = 2
b = 3
c = a + b
print("El resultado de la suma es: ", c)

El resultado de la suma es:  5

In [ ]:
# más operaciones aritméticas
d = 4 * 5
print("El resultado de la multiplicación es: ", d)
e = 35 / 8
print("El resultado de la división es: ", e)

El resultado de la multiplicación es:  20
El resultado de la división es:  4.375

### Ejemplos

#### 1.1 Operaciones aritméticas con 2 números

In [ ]:
var_uno = input("dame el primer número ") # pido el num
v_uno = int(var_uno) # convierto la info de texto a num
var_dos = int(input("dame el segundo número ")) # alternativa
print("\n")

print("el primer núm es ", var_uno)
print("el núm 2 es ",var_dos)
resultado = v_uno + var_dos
print("El resultado de la suma es ", resultado)
print("la resta es ", v_uno - var_dos)
print("la división es ", v_uno/var_dos)
print("la multi es ", v_uno*var_dos)
print("la potencia ", v_uno**var_dos)

dame el primer número 3
dame el segundo número 4


el primer núm es  3
el núm 2 es  4
El resultado de la suma es  7
la resta es  -1
la división es  0.75
la multi es  12
la potencia  81

In [ ]:
variable = int(input("dame el primer número "))
print("el primer núm es ", variable)
print("el primer núm es ", round(variable / 3,2))

dame el primer número 2
el primer núm es  2
el primer núm es  0.67

#### 1.2 Calcular el área de un rectángulo

In [ ]:
# pido variables
altura = int(input("dame la altura: "))
base = int(input("dame la base: "))
print()

# calcular área del rectángulo
area = base * altura

print ("El área es: ", area)

El área es:  12

#### 1.3 Calcular el área de un triángulo

In [12]:
# pido variables
altura = int(input("dame la altura: "))
base = int(input("dame la base: "))
print()

# calcular área del triángulo
area = (base * altura)/2

print ("El área es: ", area)

El área es:  6.0

#### 1.4 Costo total de terreno

Una empresa vende terrenos de forma trapezoidal, como se muestra en la figura.
Realiza el análisis y elabora un algoritmo que ayude a calcular el área total del terreno y el costo del mismo. El costo por metro cuadrado es de $3,450.
Las unidades de a, b, c y d son metros. d puede ser diferente de c.


![Screenshot 2025-01-30 at 16.52.38.png]()

Prueba tu programa con los siguientes valores:

a = 35

b = 17

c=3

d = 10

In [10]:
# código costo total terreno

# pido variables
a = int(input("dame a: ")) # pido la variable a
b = int(input("dame b: ")) # pido la variable b
c = int(input("dame c: "))
d = int(input("dame d: "))
print()

# calcular áreas
a1 = a * b
a2 = (b * d)/2
a3 = (b * c)/2

# calcular área total del terreno
att = a1 - a2 - a3

# calcular valor del terreno
vtt = att * 3450

print("El valor del terreno es: $", vtt)

El valor del terreno es: $ 75900.0

In [11]:
print("El valor del terreno es: $", vtt , " pagado a crédito")
print(f"El valor del terreno es: $ {vtt} pagado a crédito")
print(f"El valor del terreno es: ${vtt:,} pagado a crédito")

El valor del terreno es: $ 75900.0  pagado a crédito
El valor del terreno es: $ 75900.0 pagado a crédito
El valor del terreno es: $75,900.0 pagado a crédito

## 2. Condicionales

* Se les conoce comúnmente como “If’s”. IF es la estructura básica.
* Se hace una pregunta, si se contesta con verdadero se ejecutan los estatutos dentro de su bloque.
* En caso de responderse con falso, no se hace nada.
* What is False:
  * Boolean: False
  * Null: None
  * Zero int: 0
  * Zero float: 0.0
  * Empty string: ' '
  * Empty list: [ ]
  * Empty tuple: { }
  * Emtpy set: ( )

### Ejemplos

#### 2.1. Busca el mayor de 2 números

In [13]:
# un programa que pide 2 números y encuentra el mayor
# un ejemplo de cómo implemento if
x = int(input("dame x: ")) # el dato lo convierto de texto a número
y = int(input("dame y: "))

if y < x:
    print("x es mayor")
elif y == x:
    print("son iguales")
else:
    print("y es mayor")

x es mayor

#### 2.2 Identidad secreta

In [ ]:
superhero = "Spiderman"
if superhero == "Superman":
  secret_identity = "Clark Kent"
elif superhero == "Batman":
  secret_identity = "Bruce Wayne"
elif superhero == "Spiderman":
  secret_identity = "Peter Parker"
else:
  secret_identity = "?"

print(secret_identity)

## 3. Arrays and Matrices

Main Differences between Python List and NumPy Array: 

* Data Type:
    * Python List: can contain elements of different types (int, float, string, objects, etc.).
    * NumPy Array (ndarray): all elements must be of the same type (homogeneous, defined by dtype).
* NumPy arrays are stored at one continuous place in memory unlike lists, 
* So processes can access and manipulate them very efficiently:
    * This makes arrays much more efficient in terms of memory and speed.

In [14]:
# importamos librerías
import warnings
warnings.filterwarnings("ignore")
import numpy as np # to use numpy arrays instead of lists

In [15]:
# we can create an np.array from a list of numbers
alist = [1, 2, 3]
arr = np.array(alist)

print(alist)
print(arr)

[1, 2, 3]
[1 2 3]

In [16]:
# we can create an np.array from a list of strings
arr = np.array(["cat", "horse", "dog"])
print(arr)

['cat' 'horse' 'dog']

In [17]:
# Creating an array of zeros with five elements
arr = np.zeros(5)
print(arr)

[0. 0. 0. 0. 0.]

In [18]:
# we can create an array of ones with 8 elements
arr = np.ones(8)
print(arr)

[1. 1. 1. 1. 1. 1. 1. 1.]

In [19]:
# we can create an array going from 0 to 99
arr = np.arange(100)
print(arr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

In [23]:
arr = np.random.randint(0, 100, size=10)
print(arr)
print()
# we can access the different elements of the array
# we display the second element of the first array
print(arr[1])
print()
# we display the first five elements
print(arr[0:5])

[50 33 88 45 86 42 64 17 71 74]

33

[50 33 88 45 86]

In [27]:
# we can create a 2D array
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(arr)
# we can check the number of dimensions and the shape
print("Dimensions: ", arr.ndim)
print("Shape: ", arr.shape)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
Dimensions:  2
Shape:  (3, 3)

In [28]:
# for the matrix  we must consider the dimensions
# the results will be different
print(arr[1])
print()
print(arr[0:2])
print()
print(arr[1][1])
print(arr[1, 1])
print()
print(arr[2][0:2])
print(arr[2, 0:2])

[4 5 6]

[[1 2 3]
 [4 5 6]]

5
5

[7 8]
[7 8]

In [21]:
# we can create a 3D array
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]], [[1, 2, 3], [10, 11, 12]]])
print(arr)
print()
# we can check the number of dimensions
print("Dimensions: ", arr.ndim)
print("Shape: ", arr.shape)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]

 [[ 1  2  3]
  [10 11 12]]]

Dimensions:  3
Shape:  (3, 2, 3)

## 4. DataFrames

Pandas:
* Pandas is a Python library for data manipulation and analysis.
* Is primarily centered around two data structures: Series and DataFrames.
    * Series and DataFrames are fundamental data structures in various programming languages and libraries commonly used in data analysis and statistics.
    * They provide a flexible and intuitive way to store, organize, and work with tabular data.
    * They are ideal for tasks like data cleaning, analysis, and visualization.

DataFrames:
* A two-dimensional labeled data structure with columns of potentially different types:
    * Unlike matrices, which require all elements to be of the same data type.
* It can be conceptualized as a table or spreadsheet, organizing data in rows and columns. 
* A DataFrame can be considered a collection of Series objects, where each Series represents a column.

In [29]:
import pandas as pd # librería para poder usad DataFrames (tablas)

In [35]:
# create a pandas DataFrame of 100 rows and 4 columns with random values using numpy
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
# we display the data frame
print(df)

     A   B   C   D
0   45   9  19  28
1   65  46  54   2
2   93  56  60  79
3   54  49  10  22
4   45   7  86  80
..  ..  ..  ..  ..
95  68  89  40  97
96  42  90  52  62
97  57  80  44  60
98  33  56  82  21
99  93  88  51  88

[100 rows x 4 columns]

In [36]:
# we display the first rows of the DataFrame, n rows by default
df.head()

    A   B   C   D
0  45   9  19  28
1  65  46  54   2
2  93  56  60  79
3  54  49  10  22
4  45   7  86  80

In [37]:
# we display the last 8 rows of the DataFrame
df.tail(8)

     A   B   C   D
92   0  63  80  42
93  39  55  29  29
94  81  35  27  56
95  68  89  40  97
96  42  90  52  62
97  57  80  44  60
98  33  56  82  21
99  93  88  51  88

In [38]:
 # we display 7 random rows of the DataFrame
df.sample(7)

     A   B   C   D
12  77  27  25  66
40  89  80   5  34
34   2  64  55  63
17   4  23  82  50
56  66  13  73  46
51  12  99  14  31
49  28   6   9  35

In [39]:
# we display the size of the DataFrame
# the size is the number of elements in the DataFrame
df.size

400

In [40]:
# we display the size of the DataFrame
# the size is the number of elements in the DataFrame
df.size

400

In [ ]:
# we display the number of dimensions of the DataFrame
df.ndim

In [ ]:
# we display the shape of the DataFrame
# the shape is the number of rows and colums: the tuple representing the dimensions of the DataFrame
df.shape

In [ ]:
# we display the names of the columns in the DataFrame
df.columns

In [ ]:
# we display the number of non-null values in the DataFrame
df.count()

In [33]:
datos = [[1,2,3],[4,5,6],[7,8,9]]

In [34]:
df2 = pd.DataFrame(datos, columns=list('ABC'))#['col1', 'col2', 'col3'])
print(df2)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9